<form [formGroup]="cardForm">
  <app-input label="Name" [control]="$any(cardForm.get('name'))"></app-input>
  <!--property binding, to pass down data (FormControl) from parent to child-->
</form>

<!--For Debugging -->
<div>Form contents: {{ cardForm.value | json }}</div>
<!--takes an object and prints out  JSON.-->
<div>Form is valid: {{ cardForm.valid }}</div>

<!--Check Validation Errors-->
<div>Errors around name: {{ cardForm.controls["name"].errors | json }}</div>
<div>Same errors: {{ cardForm.get("name")?.errors | json }}</div>
<div>
  MinLength properties:
  {{ cardForm.controls["name"].errors?.['minlength'] | json }}
</div>
