<input [formControl]="control" />
<!--register the control in the template, bind control property from TS into this form control field-->

<!-- <ng-container
    *ngIf="
      cardForm.controls['name'].dirty &&
      cardForm.controls['name'].touched &&
      cardForm.controls['name'].errors
    "
  >
    <div *ngIf="cardForm.controls['name'].errors['required']">
      Value is required.
    </div>
    <div *ngIf="cardForm.controls['name'].errors['minlength']">
      Value you entered is
      {{cardForm.controls['name'].errors?.['minlength'].actualLength}}
      characters, but it must be at least
      {{cardForm.controls['name'].errors?.['minlength'].requiredLength}} long.
    </div>
  </ng-container> -->
